.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    /* object-position: 0 80%; */
    height: 400px;
}

.cor-especial {
    color: #8b0000;
}

.botao-cor-especial {
    background-color: #8b0000;
    color: #ffffff;
}

.borda-cor-especial {
    border-color: #8b0000;
}